footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color: #a0a8af;
  font-size: 14px;
}

#footerContent {
  margin: 0px auto;
  width: 15%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #CED4DA;
}

#imgGithubLogo {
  width: 40px;
}

#imgLinkedinLogo {
  width: 32px; 
}