#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color:  #34cc94;
  height: 60px;
  box-shadow: 1px 1px 3px 1px #1d815d;
}

#links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.link:hover {
  color: #145f44;
}

#name {
  color: white;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin-right: 35px;
  font-weight: bold;
}
