#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-position-center-color-green {
  /* position: absolute;
  top: 300px;
  left: 650px; */
  margin: 230px auto;
}

.loading-position-center-color-green img {
  width: 100px;
}

.loading-header img{
  width: 50px;
  margin-bottom: 0px;
}

.loading-music-card img{
  width: 50px;
  margin: 40px auto 40px;
}