#form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin: 205px 780px 0px;
  width: 30%;
  height: 230px;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 0 5px 4px rgb(150 150 150 / 29%);
  border-radius: 5px;
  padding: 10px 10px;
  z-index: 0;
}

#button {
  cursor: pointer;
}

#button:hover {
  background-color: #145f44;
}

#nameLabel {
  display: flex;
  flex-flow: column wrap;
}

#ImgLoginScreen {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 180px;
  height: 50px;
}

#art {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
}

#art-page-login {
  position: absolute;
  top: 150px;
  left: 250px;
  width: 350px;
}