#fav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 95%;
  margin-bottom: 10px;
}

.favbox-infos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.div-player {
  /* width: 49%; */
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
  background-color: #27aa7a;
}

#labelFav {
  display: flex;
  flex-flow: row;
  width: 80px;
  align-items: center;
  justify-content: space-evenly;
}

.favP {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 0%;
}

#player-content {
}

#audio-component {
  width: 100%;
  background-color: #f1f3f4;
}
