#fav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.favbox-infos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.favbox-infos img {
  width: 44px;
}

.div-player {
  width: 100%;
  margin-bottom: 15px;
  background-color: #27aa7a;
}

#labelFav {
  display: flex;
  flex-flow: row;
  width: 80px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -4.5px;
}

.favP {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 0%;
}

#titleMusic {
  font-size: 18px;
}

#player-content {
  margin-bottom: -10px;
}

#audio-component {
  width: 100%;
  background-color: #f1f3f4;
}
