.contentProfile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

#user-image {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

#user-data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

#form-edit-profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
  margin: 10px auto 0px;
  width: 100%;
  height: 400px;
}

#btn-profile {
  background-color: #157347;
  padding: 10px;
  border-radius: 7px;
  border: 0px;
  color: white;
}