#form-search {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin: 50px auto 0px;
  width: 50%;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  animation: appear 1s ease forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#not-found-album {
  text-align: center;
}

#message {
  text-align: center;
}

#cards-content {
  margin: 0px auto;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  overflow-y: auto;
  animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#cards-content::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

#cards-content::-webkit-scrollbar-thumb {
  background-color: #000;
}

#cards-content::-webkit-scrollbar-track {
  background-color: #fff;
}
